.tree-node {
    font-size: 40px;
    font-family: Georgia,serif;
    border: grey solid 2px;
    border-radius: 75px;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    margin: auto;
    animation: fadeInAnimation 1s;
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}