.tree-node {
    border-radius: 100%;
    box-shadow: 0 0 0 1pt grey;    
    background-color: lightgray;
    margin: auto;
    animation: fadeInAnimation 1s;
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}