.smallpoint {
  border-radius: 75px;
  width: 25px;
  height: 25px;
  background-color: rgb(5, 5, 5);
}
.legend-container {
  display: flex;
  position: absolute;
  height: 10%; 
  width: 50%;
  font-size: 20px;
  background-color:#33475b;
  opacity: 80%;
  align-items:center;
}
.legend {
  flex: 1;
}