.column-container {
    display: flex;
    height: 100vh;
  }

.column {
    flex: 1;
    height: 100%;
    text-align: center;
}

img {
    padding-top: 10%; 
    padding-left: 10%;
    height: 80%;
}

.alice_laptop {
    padding-top: 10%; 
    position: absolute;
    right: 0.5%;
    bottom: 19.5%;
    height: 93%;
}

.alice_map {
    padding-top: 10%; 
    position: absolute;
    right: 0.5%;
    bottom: 19.5%;
    height: 93%;
}