.column-container {
    display: flex;
    height: 100vh;
  }

.middle-column {
    width: 50%;
}


img {
    padding-top: 10%; 
    padding-left: 10%;
    height: 80%;
}

.imgalice {
    padding-top: 10%; 
    position: absolute;
    right: 0.5%;
    bottom: 19.5%;
    height: 93.5%;
}


