img {
    padding-top: 10%; 
    padding-left: 10%;
    height: 80%;
}

.imgalice {
    padding-top: 10%; 
    padding-left: 31%;
    right: 0;
    height: 80%;
}


.box {
    width: 95%;
    margin: 15% auto;
    padding: 8%;
    text-align: center;
    font-weight: 900;
    font-size: 150%;
    color: rgb(0, 0, 0);
    position:relative;
  }
