.taskbar-container {
  display: flex;
  position: absolute;
  height: 100%; 
  font-size: 200%;
  background-color:#33475b;
  opacity: 100%;
  align-items:center;
  padding-left: 1%;
  padding-right: 1%;
}
.taskbar {
  flex: 1;
  display:flex;
  align-items: center;
}

.legend {
  flex:1;
  color: white;
}

.button {
  height: 40px;
  width: 40px;
  background: #ccc;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.point {
  border-radius: 75px;
  width: 25px;
  height: 25px;
  background-color: rgb(5, 5, 5);
}

