.column-container {
  display: flex;
  height: 100vh;
}

.column {
  flex: 1;
  height: 100%;
  text-align: center;
}

.column-static {
  flex: 0;
  height: 100%;
  text-align: center;
}

.headers {
  font-size: 50px;
  text-align: center;
}